// Place all the styles related to the order_status_update controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  with:100%;
  max-width:1000px;
  margin:auto;
}
h1{
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 30pt;
  font-weight: 600;
  color:#B00100;
}
p{
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 20pt;
  font-weight: 300;
}